[*.cs]
# CA1401: 不應看得見 P/Invoke
dotnet_diagnostic.CA1401.severity = none
# CA1050: 在命名空間中宣告類型
dotnet_diagnostic.CA1050.severity = none
# CA1707: 識別項不應包含底線
dotnet_diagnostic.CA1707.severity = none
# CA2211: 非常數欄位不應可見
dotnet_diagnostic.CA2211.severity = none
# CA1051: 請勿宣告可見的執行個體欄位
dotnet_diagnostic.CA1051.severity = none
# CS0809: 過時成員會覆寫非過時成員
dotnet_diagnostic.CS0809.severity = none
# CA1720: 識別項包含類型名稱
dotnet_diagnostic.CA1720.severity = none
# CA1000: 請勿在泛型型別上宣告靜態成員
dotnet_diagnostic.CA1000.severity = none